<div class="jumbotron mt-4 center">
    <div class="card text-center">
        <div class="card-header">
            <h3>Editando a: {{aeropuerto.Nombre}}</h3>
        </div>
        <div class="card-body">
            <form action="/aeropuertos/editar/{{aeropuerto.id}}?_method=PUT" method="POST">
                <input type="hidden" value="_method" value="PUT">
                <h3>Datos del aeropuerto</h3>

                <div class="form-grup">
                    <label class="col-form-label pull-left" for="inputDefault">Nombre del aeropuerto</label>
                    <input type="text" class="form-control" placeholder="Ingrese el nombre del aeropuerto" name="Nombre" value="{{aeropuerto.Nombre}}">
                </div>

                <div class="form-grup">
                    <label class="col-form-label pull-left" for="inputDefault">Ciudad del aeropuerto</label>
                    <input type="text" class="form-control" placeholder="Ingrese la ciudad del aeropuerto" name="Ciudad" value="{{aeropuerto.Ciudad}}">
                </div>

                <div class="form-grup">
                    <label class="col-form-label pull-left" for="inputDefault">Direccion del aeropuerto</label>
                    <input type="text" class="form-control" placeholder="Ingrese la direccion del aeropuerto" name="Direccion_Aeropuerto"value="{{aeropuerto.Direccion_Aeropuerto}}">
                </div>

                <div class="form-grup">
                    <label class="col-form-label pull-left" for="inputDefault">Telefono aeropuerto</label>
                    <input type="text" class="form-control" placeholder="Ingrese el telefono del aeropuerto" name="Telefono" value="{{aeropuerto.Telefono}}">
                </div>

                <div class="form-grup">
                    <label class="col-form-label pull-left" for="inputDefault">Id del aeropuerto</label>
                    <input type="text" class="form-control" placeholder="Ingrese el id mundial del aeropuerto" name="Id_Mundial" value="{{aeropuerto.Id_Mundial}}">
                </div>

                <div class="form-grup">
                    <label class="col-form-label pull-left" for="inputDefault">Numero de aeropuerto en la ciudad</label>
                    <input type="text" class="form-control" placeholder="Ingrese el numero dado por consulado internacional de viaje y turismo" name="Numero_de_Aeropuerto" value="{{aeropuerto.Numero_de_Aeropuerto}}">
                </div>
                
                <div class="form-grup">
                    <label class="col-form-label pull-left" for="inputDefault">Capacidad maxima de viajeros</label>
                    <input type="text" class="form-control" placeholder="Ingrese la capacidad maxima de viajeros en el aeropuerto" name="Capacidad_Maxima_de_Viajes" value="{{aeropuerto.Capacidad_Maxima_de_Viajes}}">
                </div>
                
                <div class="form-grup">
                    <label class="col-form-label pull-left" for="inputDefault">Numero de permiso de la ciudad</label>
                    <input type="text" class="form-control" placeholder="Ingrese el numero de autorizacion de la ciudad" name="Numero_de_Permiso_de_Ciudad" value="{{aeropuerto.Numero_de_Permiso_de_Ciudad}}">
                </div>

                <div class="form-grup">
                    <label class="col-form-label pull-left" for="inputDefault">Numero de aeriloneas</label>
                    <input type="text" class="form-control" placeholder="Ingrese el numero de aerolineas establecidas" name="Numero_de_Aerolinias_Establecidas" value="{{aeropuerto.Numero_de_Aerolinias_Establecidas}}">
                </div>

                <br>
                <h3>Dato de la pista de aterrizaje</h3>

                <div class="form-grup">
                    <label class="col-form-label pull-left" for="inputDefault">Tamaño de la pista</label>
                    <input type="text" class="form-control" placeholder="Ingrese el tamaño de la pista de aterrizaje" name="Tamano_Pista_Km_Cuadrados" value="{{aeropuerto.Tamano_Pista_Km_Cuadrados}}">
                </div>

                <div class="form-grup">
                    <label class="col-form-label pull-left" for="inputDefault">Numero de torres de control</label>
                    <input type="text" class="form-control" placeholder="Ingrese el numero de torres de control que tiene la pista" name="Numero_de_Torres_de_Control" value="{{aeropuerto.Numero_de_Torres_de_Control}}">
                </div>

                <div class="form-grup">
                    <label class="col-form-label pull-left" for="inputDefault">Numero de porta aviones</label>
                    <input type="text" class="form-control" placeholder="Ingrese el numero de angares disponibles en el aeropuerto" name="Numero_de_Porta_Aviones" value="{{aeropuerto.Numero_de_Porta_Aviones}}">
                </div>

                <div class="form-grup">
                    <label class="col-form-label pull-left" for="inputDefault">Tipo de pavimento</label>
                    <input type="text" class="form-control" placeholder="Ingrese el tipo de pavimento en la pista" name="Tipo_de_Pavimento" value="{{aeropuerto.Tipo_de_Pavimento}}">
                </div>

                <div class="form-group">
                    <label class="col-form-label pull-left" for="inputDefault">Señalizaciones completas en pista de aterrizaje</label>
                    <select class="custom-select" name="Senalizaciones_Completas" >
                        <option selected="">Seleciona una opcion:</option>
                        <option value="Si">Si</option>
                        <option value="No">No</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="col-form-label pull-left" for="inputDefault">Iluminacion completa en pista de aterrizaje</label>
                    <select class="custom-select" name="Iluminacion_Completa">
                        <option selected="">Seleciona una opcion:</option>
                        <option value="Si">Si</option>
                        <option value="No">No</option>
                    </select>
                </div>

                <br>

                <div class="form-grup">
                    <button class="btn btn-primary">
                        Actualizar datos
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>